/* .hide {
    display: none;
} */

body {
    font-family: 'Old Standard TT';
    font-size: 16px;
    letter-spacing: 2px;
}

/* .online {
    font-size: 18px;
} */

.game-area {
    display: flex;
    /* justify-content: space-between; */
}

#player-name {
    width: 200px;
}

.player1, .player2 {
    margin: 5px;
    width: 200px;
    text-align: center;
    font-family: 'Gaegu';
    font-size: 30px;
    letter-spacing: 2px;
}

#player-name, #submit-name {
    margin-top: 3px;
}

.rock, .paper, .scissor {
    /* padding-left: 25px; */
}

.game-status {
    border: 4px double black;
    width: 500px;
    height: 520px;
}

.rock:hover, .paper:hover, .scissor:hover {
    border: 4px dotted rgb(45, 96, 153);
    border-radius: 20px;
}

.form-control {
    margin: 0 auto;
}

.btn-primary {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.score-tracker {
    border: 3px double black;
    width: 200px;
    height: 100px;
    font-family: 'Gaegu';
    font-size: 20px;
    letter-spacing: 3px;
}

.messages {
    border: 3px double black;
    height: 250px;
    /* width: 200px; */
}

.chat-box {
   /* border: 3px solid blue; */
   margin-top: 10px;
   height: 400px;
   width: 200px;
}

.user-chat {
    margin-top: 5px;
}

